body{
    height:100%;
    margin:0;
    padding: 0;
    font-size:14px;
    font-family:arial, sans-serif;
    color: #222;
    background:#fff;
    display: flex;
    flex-direction: column;
}
ul{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin:0;
    padding:10px 20px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    padding:10px;
}
#navbar{
   display:flex;
   justify-content: flex-end; 
   flex-direction: row;
   height: 60px;
}
#logo{  
    height:calc(50vh - 214px);
    min-height: 150px;
    max-height: 290px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}
#search{
    border:1px solid #dfe1e5;
    box-shadow:none;
    border-radius:24px;
    z-index:3;
    height:44px;
    width:482px;
    max-width:584px;
    display: flex;
    flex-direction:row;
    justify-content: center; 
    align-items: center;
}
#search-area{
    display: flex;
    flex-direction:column;
    justify-content: center; 
    align-items: center;
}
#search-bar{
    background-color: transparent;
    border: none;
    margin:0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    height:34px;
    font-size:16px;
    width: 400px;
}
#btns{
    height:70px;
    padding-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="button"]{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color:#3c4043;
    margin:11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height:36px;
    min-width:54px;
    text-align:center;
    cursor:pointer;
    user-select: none;
}
input[type="button"]:hover{
    border:1px solid #a5a9ad;
}
#space{
    text-align: center;
    height:calc(50vh - 93px);
}
.footer{
    background-color: #f2f2f2;
    margin-top: auto;
}
#last-line{
    display: flex;
    flex-direction:row;
   justify-content: space-between; 
   flex-wrap:wrap;
   align-items: center;
}
#region{
    padding:10px 30px;
    font-size:15px;
}
@media(max-width:1200px){
    #last-line{
        justify-content: space-evenly;
    }
}